{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" We provide this ecommerce platform for all kinds of shoppers who are looking to save time 
    and money. Our platform makes it easy for shoppers to virtually search across all retail websites and 
    compare prices, products, shipping, etc. Retailers on the other hand, are benefiting from less returns 
    from customers as the app enables buyers to make an informed decisions prior to buying. Also, buyers 
    can easily monitor rollbacks and new deals.">
    <title>Nivee home</title>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body> 

{% block content %}
{% endblock %}
<!-- footer -->
<footer>
    <h1>Powered by Nivee LLC &copy; 2023 | all rights reserved.</h1>
    <div class="icons">
        <a href="https://www.facebook.com/profile.php?id=100092512873811" aria-label="facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/NiveeLLC" aria-label="twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/niveellc/" aria-label="instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/nivee-llc" aria-label="linked in">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>    
</footer>
<!-- end of footer -->
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- aos init -->
<script>
     AOS.init({
        offset: 50,
        delay: 100,
        duration: 800,
        easing: 'ease',
        once: false,
        mirror: false,
        anchorPlacement: 'top-bottom'
    })
</script>
</body>
</html>