{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- header and nav -->
<nav>
    <a href="{% url 'home' %}" class="logo" aria-label="logo">
        <img src="{% static 'img/logo.jpg' %}" alt="logo">
    </a>  
    <button class="menu-icon" aria-label="menubar button">
        <i class="fas fa-bars"></i>
    </button> 
    <ul class="nav-list">
        <li>
            <a href="#home">home</a>
        </li>
        <li>
            <a href="#about">about</a>
        </li>
        <li>
            <a href="#service">services</a>
        </li>
        <li>
            <a href="#team">team</a>
        </li>
        <li>
            <a href="#contact">contact</a>
        </li>
    </ul>
</nav>
<header id="home" class="home">
    <h1 class="banner">Nivee Company Limited</h1>
    <h3 class="slogan">We are a registered Limited Liability Company in the state of Delaware with a global reach. We pride 
        ourself on the premises of saving our clients time and money.</h3>
    <a href="#about">about us</a>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    
    <div class="fas fa-coins nut1"></div>
    <div class="fas fa-coins nut2"></div>
</header>
<!-- end of header and nav-->
<!-- about -->
<section id="about" class="about">
    <h1 class="heading">about us</h1>
    <div class="row">
      <div class="content">
        <h3>Nivee Company Limited.</h3>
        <p>We are a registered Limited Liability Company in the state of Delaware with a global reach. We pride 
            ourself on the premises of saving our clients time and money.</p>
        <!-- <a href="{% url 'about' %}" class="all-btns">read more</a> -->
      </div>
      <div class="image">
        <img src="{% static 'img/about.svg' %}" alt="toon image of a woman with a monitor">
      </div>
    </div>
</section>
<!-- end of about -->
<!-- services -->
<section id="service" class="service">
    <h1 class="heading">our services</h1>
    <div class="row">
        <div class="image">
            <img src="{% static 'img/img2.svg' %}" alt="">
        </div>
        <div class="content">
            <h3>Bookkeeping</h3>
            <p>We provide daily, monthly, quarterly and annual bookkeeping services to small and medium size firms in 
                North America and Europe.</p>
        </div>
    </div>
    <div class="row">
        <div class="content">
            <h3>Taxation</h3>
            <p>We provide individual and corporate tax solutions in North America. We also prepare individual tax 
                returns for citizens living abroad.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/img3.svg' %}" alt="">
        </div>
    </div>
    <div class="row">        
        <div class="image">
            <img src="{% static 'img/img7.svg' %}" alt="">
        </div>
        <div class="content">
            <h3>Store Buffet</h3>
            <p>We own and manage this ecommerce platform for all kinds of shoppers who are looking to save time 
                and money. Our platform makes it easy for shoppers to virtually search across all retail websites and 
                compare prices, products, shipping, etc. Retailers on the other hand, are benefiting from less returns 
                from customers as the app enables buyers to make an informed decisions prior to buying. Also, buyers 
                can easily monitor rollbacks and new deals.</p>
        </div>
    </div>
    <div class="row">
        <div class="content">
            <h3>Software Development</h3>
            <p>We develop and market software for individuals and companies who are looking to bring efficiency to 
                their lives and businesses. Our team of engineers are subject matter experts in over 32 programming 
                languages.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/img8.svg' %}" alt="">
        </div>
    </div>
</section>    
<!-- end of services -->
<!-- team -->
<section id="team" class="team">
    <h1 class="heading">our team</h1>
    <div class="row">
        <div class="card">
            <div class="image">
            <img src="{% static 'img/pic1.png' %}" alt="person image">
            </div>
            <div class="info">
            <h3>Tim Starke, CEO</h3>
            <div class="text-box">
                Tim is a certified public accountant with over 10 years of experience in accounting, finance and taxation. 
                    His desire to help people achieve financial independence led to the formation of Nivee LLC.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{% static 'img/pic2.png' %}" alt="person image">
            </div>
            <div class="info">
                <h3>Dr Victoria Stevens, Chair</h3>
                <div class="text-box">
                    Dr Stevens is a physician who grew up doing bookkeeping for her family business. With her diverse 
                    background, our team stand to enjoy her perspective and the healthcare and wellness clients she brings 
                    to the table.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{% static 'img/pic3.png' %}" alt="person image">
            </div>
            <div class="info">
                <h3>Marshall Arkyo, COO</h3>
                <div class="text-box">
                    Our COO has a degree in accounting. He is also an IBM certified software engineer with over 15 years of
                    experience
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{% static 'img/pic3.png' %}" alt="person image">
            </div>
            <div class="info">
                <h3>Riley Coxen, Executive Assistant</h3>
                <div class="text-box">
                    Riley has over 20 years’ experience on Wall Street serving as secretary to managing directors. She also 
                    worked as a law firm clerk for 5 years in Chicago.
                </div>
            </div>
        </div>
    </div>
</section>
    
<!-- end of team -->
<!-- contact -->
<section id="contact" class="contact">
    <h1 class="heading">contact us</h1>
    <div class="row">
        <div class="image">
            <img src="{% static 'img/img5.svg' %}" alt="toon image">
        </div>
        <div class="form-container">
            <form action="">
                <div class="inputBox">
                    <input type="text" placeholder="first name">
                    <input type="text" placeholder="last name">
                </div>
                <input type="email" placeholder="email">
                <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
                <input type="submit" class="all-btns" value="send">
            </form>
        </div>
    </div>
</section>
<!-- end of contact -->
<!-- faq -->
<section id="faq" class="faq">
    <h1 class="heading">FAQ</h1>
    <div class="row">
        <div class="image">
            <img src="{% static 'img/faq.svg' %}" alt="">
        </div>
        <div class="accordion-container">
            <div class="accordion">
                <div class="accordion-header">
                    <span>+</span>
                    <h3>How much will it cost?</h3>
                </div>
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque possimus ipsum quae error ullam reiciendis in iste maiores nulla. Impedit nam praesentium omnis cupiditate excepturi natus magnam sunt deleniti!</p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>+</span>
                    <h3>How To update website?</h3>
                </div>
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque possimus ipsum quae error ullam reiciendis in iste maiores nulla. Impedit nam praesentium omnis cupiditate excepturi natus magnam sunt deleniti!</p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>+</span>
                    <h3>is domain provided free?</h3>
                </div>
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque possimus ipsum quae error ullam reiciendis in iste maiores nulla. Impedit nam praesentium omnis cupiditate excepturi natus magnam sunt deleniti!</p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>+</span>
                    <h3>how long it takes to design?</h3>
                </div>
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque possimus ipsum quae error ullam reiciendis in iste maiores nulla. Impedit nam praesentium omnis cupiditate excepturi natus magnam sunt deleniti!</p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>+</span>
                    <h3>is it user freindly?</h3>
                </div>
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque possimus ipsum quae error ullam reiciendis in iste maiores nulla. Impedit nam praesentium omnis cupiditate excepturi natus magnam sunt deleniti!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of faq -->
<!-- contact info -->
<section class="cont-info">
    <div class="cont-info-wrapper">
        <h2>Contact Us
        </h2>
        <br>
        <ul>
            <li>1255 Magie Ave Suite 352
            </li>
            <li>Union, NJ 07083</li>
            <li>Phone: (520) 261-1319</li>
            <li>Email: adm@niveellc.com</li>
            <li>Hours: M-F, 8am to 5pm ET</li>
        </ul>
    </div>
</section>
<!-- end of contact info -->
{% endblock %}